<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <meta charset="UTF-8">
        <title>Parameter</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.css}">
    </head>
    <body>
        <h1 class="text-center bg-danger">Parameter</h1>
        <button class="btn btn-primary" th:onclick="|location.href='@{/parameters/create}'|">Ajouter</button>
        <table>
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Pourcentage</th>
                    <th>Nombres d'affaires</th>
                    <th>Nombre de mois</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="parameter : ${parameters}">
                    <td th:text="${parameter.levelOfSponsorship}"></td>
                    <td th:text="${parameter.percentageOfCommission}"></td>
                    <td th:text="${parameter.numberOfBusinessToBeAffiliated}"></td>
                    <td th:text="${parameter.numberOfMonthsAffiliation}"></td>
                    <td>
                        <button class="btn btn-primary" th:onclick="|location.href='@{/parameters/edit/{id}(id=${parameter.id})}'|">Modifier</button>
                        <button class="btn btn-danger" th:onclick="|location.href='@{/parameters/delete/{id}(id=${parameter.id})}'|">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
