<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
    <head>
        <title>Parameter</title>
    </head>
    <body>
        <h1>Parameter</h1>
        <form action="#" th:action="@{/parameters/create}" th:object="${parameter}" method="post">
            <p>
                <label for="name">Niveau:</label>
                <input type="text" id="name" th:field="*{levelOfSponsorship}" />
            </p>
            <p>
                <label for="percentageOfCommission">Pourcentage:</label>
                <input type="text" id="percentageOfCommission" th:field="*{percentageOfCommission}" />
            </p>
            <p>
                <label for="numberOfBusinessToBeAffiliated">Nombres d'affaires:</label>
                <input type="text" id="numberOfBusinessToBeAffiliated" th:field="*{numberOfBusinessToBeAffiliated}" />
            </p>
            <p>
                <label for="numberOfMonthsAffiliation">Nombre de mois:</label>
                <input type="text" id="numberOfMonthsAffiliation" th:field="*{numberOfMonthsAffiliation}" />
            </p>
            <p>
                <input type="submit" value="Submit" />
            </p>
        </form>
    </body>
