<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business</title>
</head>
<body>
    <h1>Business</h1>
    <button th:onclick="|location.href='@{/businesses/create}'|">Ajouter</button>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>CreatedAt</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="business : ${businesses}">
                <td th:utext="${business.title}"></td>
                <td th:utext="${business.createdAt}"></td>
                <td>
                    <a th:href="@{/businesses/edit/{id}(id=${business.id})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/businesses/delete/{id}(id=${business.id})}">Delete</a>
                </td>
                <td>
                    <a th:href="@{/businesses/{id}(id=${business.id})}">Show</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
